h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

br {
  padding-top: 20px;
}

@media screen and (max-width: 400px) {
  p {
    width: 90%;
    padding-left: 20px;
  }
  h1 {
    padding: 10px;
  }
}
